.logo{
  height: 40px;
}

ion-toolbar {
  --background: #222222;
  --color: #000;
  --border-color: #ccc;
  --opacity: 1;
  backdrop-filter: none;
}

.back-botton{
  font-size: 26px;
  padding-left: 10px;
  min-width: 36px;
}
